{{- $icons := dict
  "abstract"    "file-description.svg"
  "caution"     "alert-triangle.svg"
  "code"        "code.svg"
  "conclusion"  "file-check.svg"
  "danger"      "alert-square.svg"
  "error"       "exclamation-circle.svg"
  "example"     "chalkboard.svg"
  "experiment"  "flask.svg"
  "goal"        "target.svg"
  "idea"        "bulb.svg"
  "important"   "exclamation-circle.svg"
  "info"        "info-circle.svg"
  "memo"        "note.svg"
  "note"        "notes.svg"
  "notify"      "bell-ringing.svg"
  "question"    "question-mark.svg"
  "quote"       "quote.svg"
  "success"     "circle-check.svg"
  "task"        "list-check.svg"
  "tip"         "bulb.svg"
  "warning"     "exclamation-circle.svg"
}}


{{- if eq .Type "alert" }}
{{- /* Render admonition. */}}
{{- $type := cond (index $icons .AlertType) .AlertType "info" }}
{{- $iconFile := printf "admonitions/icons/%s" (index $icons $type) -}}

<aside class="admonition {{ .AlertType }}">
  <header class="admonition-header">
    {{ if templates.Exists (printf "partials/%s" $iconFile) }}
    {{- partialCached $iconFile . }}
    {{- end }}
    {{- with .AlertTitle }}
    <h3>{{ . }}</h3>
    {{- else }}
    <h3>{{ or (i18n .AlertType) (title .AlertType) }}</h3>
    {{- end }}
  </header>
  {{- with .Text }}
  <div class="admonition-content">
    {{ . }}
  </div>
  {{- end }}
</aside>

{{ else }}
<blockquote>
  {{ .Text }}
</blockquote>
{{ end }}