<search class="search-section | object-effect">
<form id="search-space-form" style="text-align: center;">
<label for="q">Search the site</label>
    {{- $offlineSearchIndex := resources.Get "json/documents.json" | resources.ExecuteAsTemplate "documents.json" . }}
    {{ $offlineSearchLink := $offlineSearchIndex.RelPermalink -}}
    <input type="search" name="q" id="q" placeholder="Search terms..." disabled list="search-space-suggestions" data-documents-url="{{ $offlineSearchLink }}" />
<button>Search</button>
<datalist id="search-space-suggestions"></datalist>
</form>
<div id="search-information">
<p id="search-space-info">&nbsp;</p>
<hr />

<div id="search-space-results">
  Sup!
</div>
</div>
</search>

<script src="js/minisearch.js"></script>
<script src="js/application.js" type="module"></script>
