{{ "<!-- site-navigation.html -->" | safeHTML }}
<header class="site-header | object-effect">
  <a class="accessibility_label" href="#main" id="skip-to-main-content-link" tabindex="0">Skip to main content</a>
  <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }} Home Page">
    <h1><img src="/svg/UserIcons_Mandaris_02.svg" decoding="async" class="logo" alt="">
    {{- .Site.Title -}}</h1>
  </a>
  
  <nav id="Site" aria-label="Website" class="site-nav">
  <ul>
  {{- range .Site.Menus.main }} 
  <li>
    <a class="lozenge" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
  </li>
  {{- end }}
  <li>
    <a class="lozenge" href="{{ "feed.xml" | absURL }}" rel="feed"
      type="application/rss+xml" title="{{ $.Site.Title }} RSS Feed">
    RSS
    <svg
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="icon icon-tabler icons-tabler-outline icon-tabler-rss"
>
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M4 4a16 16 0 0 1 16 16" />
  <path d="M4 11a9 9 0 0 1 9 9" />
</svg>
    </a>
  </li>
</ul>
</nav>
</header>