/* Admonitions specific elements */
:root {
  --admonition-color: var(--accent, #5e81ac);
}

/* Basic styling logic */
.admonition {
  margin: 1em;
  padding-left: 0;
  border: 2px solid var(--admonition-color);
  border-left: 6px solid var(--admonition-color);
  border-right: 3px solid var(--admonition-color);
  border-radius: var(--border-radius, 1em);
  box-shadow: 0 2px 4px var(--admonition-color);
  transition: all 0.3s ease;
}

.admonition-header {
  padding: 0.3em;
  display: flex;
  align-items: stretch;

  border-radius: 0 var(--border-radius, 1em) 0 0;
  /* border-radius: inherit; */
  color: var(--admonition-color);
  background: color-mix(in srgb, currentColor, transparent 80%);
  /* border-bottom: 1px solid currentColor; */
  /* border-bottom-right-radius: ; */
  
  h3 {
    color: var(--text);
    font-size: large;
    margin-inline: .2rem;
  }
}

.admonition-content {
  border-top: 1px solid var(--admonition-color);
  padding: 0.5em;
}

/* Different color options */

.admonition.notify,
.admonition.note {
  --admonition-color: #096ae1;
}

.admonition.tip {
  --admonition-color: #198032;
}

.admonition.important {
  --admonition-color: light-dark(rebeccapurple, mediumorchid);
}

.admonition.idea {
  --admonition-color: seagreen;
}

.admonition.danger,
.admonition.warning {
  --admonition-color: orangered;
}

.admonition.caution {
  --admonition-color: #d12329;
}

.admonition.error {
  --admonition-color: crimson;
}

.admonition.success,
.admonition.goal {
  --admonition-color: forestgreen;
}

.admonition.test {
  --admonition-color: darkcyan;
}

.admonition.task {
  --admonition-color: steelblue;
}

.admonition.memo {
  --admonition-color: goldenrod;
}

.admonition.example,
.admonition.experiment {
  --admonition-color: teal;
}

.admonition.question {
  --admonition-color: light-dark(midnightblue, deepskyblue);
}

.admonition.info {
  --admonition-color: tomato;
}

.admonition.code {
  --admonition-color: green;
}

.admonition.bug,
.admonition.fail,
.admonition.failure,
.admonition.missing {
  --admonition-color: red;
}


