:root {
  /* Nord colour palette from: 
  https://github.com/arcticicestudio/nord/blob/develop/src/nord.css
  * Used here under MIT License
  
  Formated by Jessica Smith (jayeless.net)
  */

  --nordDark1: #2e3440;
  /* Polar Night - darkest */
  --nordDark2: #3b4252;
  /* Polar Night - second-darkest */
  --nordDark3: #434c5e;
  /* Polar Night - third-darkest */
  --nordDark4: #4c566a;
  /* Polar Night - fourth-darkest */
  --nordLight1: #d8dee9;
  /* Snow Storm - third-lightest */
  --nordLight2: #e5e9f0;
  /* Snow Storm - second-lightest */
  --nordLight3: #eceff4;
  /* Snow Storm - lightest */
  --nordTeal: #8fbcbb;
  /* Frost - teal accent colour */
  --nordAqua: #88c0d0;
  /* Frost - aqua accent colour */
  --nordLightBlue: #81a1c1;
  /* Frost - lighter blue accent colour */
  --nordBlue: #5e81ac;
  /* Frost - darker blue accent colour */
  --nordRed: #bf616a;
  /* Aurora - red accent colour */
  --nordOrange: #d08770;
  /* Aurora - orange accent colour */
  --nordYellow: #ebcb8b;
  /* Aurora - yellow accent colour */
  --nordGreen: #a3be8c;
  /* Aurora - green accent colour */
  --nordPurple: #b48ead;
  /* Aurora - purple accent colour */


  --background: var(--nordDark1);
  --background-alt: var(--nordLight3);
  --background-mid: var(--nordLight2);
  --text: var(--nordDark1);
  --text-alt: var(--nordDark2);

  --accent: var(--nordBlue);
  --accent-alt: var(--nordTeal);
  --accent-opposite: var(--nordRed);
  --accent-opposite-alt: var(--nordOrange);

  scrollbar-color: var(--accent) var(--background);

  color-scheme: light dark;
  color: var(--text);
  accent-color: var(--accent);
  caret-color: aqua;

  --flow-space: 0.5rem;

  /* New method to automate sizes   */
  interpolate-size: allow-keywords;

  /* Global Border Radius */
  --border-radius: 10px;

  /* Other styling variables */
  --text-decoration-thickness: 0.1em;
  --standard-filter: drop-shadow(0.1rem 0.2rem 0.5rem var(--accent));
  /* drop-shadow(0.1rem 0.2rem 0.5rem); */
  /* drop-shadow(0.1rem 0.1rem 0.1rem var(--accent)); */
  --standard-transition: all 0.5s allow-discrete;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format('woff2');
  src: url("/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--nordDark3);
    --background-alt: var(--nordDark1);
    --background-mid: var(--nordDark2);
    --text: var(--nordLight3);
    --text-alt: var(--nordLight2);
  }
}

@media (prefers-reduced-motion) {
  interpolate-size: numeric-only;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: var(--standard-transition);
}

html {
  font-family: "Atkinson", ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, Verdana, 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  line-height: 1.6;
  font-size: 1.3rem;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  /* text-size-adjust: none; */

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  margin: 3px;
}

/* Composition */
.site-header {
  grid-area: topping;
  /* display: flex; */
  /* justify-content: space-between; */

  & nav {
    text-align: end;
  }

  & menu {
    padding: inherit;
  }

  & menu li {
    display: inline;
  }
}

.contentSection {
  grid-area: contentSection;
}

.plugin-container {
  grid-area: contentSection;
  line-height: 2rem;
}

.microblog_conversation {
  grid-area: contentSection;
}

.information-area {
  grid-area: informational;
}

.author {
  grid-area: informational;
  height: fit-content;
  container-type: inline-size;
}

.author-image {
  grid-area: author-image;
  justify-self: center;
  align-self: center;
}

.author-bio {
  grid-area: author-bio;
  margin: 10px;
}

.author-bio h2 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.author-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "author-image"
    "author-bio";
}

@container (min-width: 40ch) {
  .author-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "author-image author-bio";
  }
}

.site-footer {
  grid-area: bottoms;
  height: fit-content;
}

.post-body {
  container-type: inline-size;
  text-wrap: pretty;
  height: fit-content;
}

.debug {
  grid-area: debug;
}

.body_class {
  display: grid;
  gap: min(8px, 1rem);
  grid-template-columns: minmax(300px, 65ch);
  grid-template-areas:
    "topping"
    "contentSection"
    "informational"
    "bottoms";
  justify-content: center;
  background-color: var(--background);
}

@media (min-width: 1100px) {

  .body_class {
    /* grid-template-columns: minmax(80ch, 1fr) minmax(0, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(70ch, 1fr)); */
    grid-template-columns: minmax(750px, 75ch) minmax(200px, 375px);
    justify-content: center;
    grid-template-areas:
      "topping topping"
      "contentSection informational"
      "bottoms bottoms";
  }
}

.left-column {
  grid-column: 1;
  text-align: left;
  grid-area: leftside;
}

.right-column {
  grid-column: 2;
  text-align: right;
  grid-area: rightside;
}

.article-footer {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  grid-template-areas:
    "leftside rightside"
    "article-author article-author"
    "debug debug";
}

.photos-grid-item {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.photos-grid-container {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

textarea:not([rows]) {
  min-height: 10em
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

img,
picture,
video,
iframe,
.lite-youtube,
canvas {
  display: block;
  max-width: 95%;
  height: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-radius: var(--border-radius, 0.5rem);
  filter: var(--standard-filter);
}

p>img:only-child {
  display: block;
  margin: auto;
}

.lite-youtube {
  max-width: 85% !important;
}

p>img {
  display: inline-block;
  margin-left: .5rem;
  margin-right: .5rem;
}

address {
  font-style: normal;
}

audio {
  width: 100%;
  margin-right: 1em;
  margin-left: 1em;
  max-width: calc(100% - 2em);
  border-radius: 7px;
  filter: var(--standard-filter);
  /* background-color: var(--accent); */
}

audio::-webkit-media-controls-panel {
  color: var(--accent);
  background-color: var(--background-mid);
  filter: var(--standard-filter);
}

audio::-webkit-media-controls-play-button {
  color: var(--accent-alt);
}

blockquote {
  border-left: 8px solid var(--accent);
  padding-left: .5rem;
  background-color: var(--background-mid);
  margin-inline-start: .5rem;
  margin-inline-end: .5rem;
  overflow-y: auto;

  & footer {
    text-align: end;
    margin-inline-end: .5rem;
  }
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: var(--standard-transition);
  /* transition-timing-function: cubic-bezier(.7, 0, .3, 1); */
  /* line-height: normal; */
  /* text-shadow: 1px 1px 1px var(--accent); */
}

h1 {
  font-size: 2.5em;
}

h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


pre,
code,
kbd,
samp {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

pre {
  overflow-x: auto;
}

/* Anchors */

a {
  color: var(--text-alt);
  text-underline-offset: 0.15em;
  text-decoration-line: underline;
  text-decoration-color: var(--accent-alt);
  text-decoration-thickness: var(--text-decoration-thickness, .1em);
  text-decoration-skip-ink: all;
  transition: all .25s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

a:hover,
a.focus {
  /* box-shadow: inset 0 -1.5em 0 var(--accent-alt); */
  /* color: var(--accent-opposite-alt); */
  text-shadow: 1px 1px 1px var(--accent-opposite-alt);
  text-decoration-color: var(--accent-opposite);
  text-decoration-style: wavy;
}

a.no-decoration {
  color: var(--text-alt);
  box-shadow: none;
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--accent-alt);
}

a:active {
  color: var(--accent);
  text-decoration-color: var(--accent-opposite);
}

a.footnote-backref {
  text-decoration: none;
}

a.footnote-ref {
  font-size: small;
}

a h1 {
  color: var(--text-alt);
}

a:hover h1,
a:focus h1 {
  color: var(--accent-opposite-alt);
  text-shadow: 1px 1px 1px var(--accent-opposite);
  text-decoration-color: var(--accent-opposite);
}

:target {
  scroll-margin-block: 3ex;
}

p>code,
li>code,
dl code,
kbd,
samp {
  background-color: var(--background-mid);
  padding: 5px;
  border-radius: 5px;
  border: solid var(--accent) 1px;
}

/* ::selection, */
mark {
  background-color: var(--nordYellow);
  padding: 1px 3px;
  border-radius: 5px;
}

/* Making the mark tag more accessible.
Found at the following location.
https://www.tpgi.com/short-note-on-making-your-mark-more-accessible/
*/
mark::before,
mark::after {
  content: " [highlight start] ";
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

mark::after {
  content: " [highlight end] ";
}

abbr {
  text-underline-offset: 0.15em;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent);
  text-decoration-thickness: .05em;
  cursor: help;
}

hr {
  color: var(--accent);
  overflow: auto;
  height: var(--text-decoration-thickness, .1em);
}

dt {
  font-weight: bold;
  font-style: oblique;
  color: var(--text-alt);
}

dd {
  margin-inline-start: 1em;
}

rt {
  color: var(--text-alt);
}

del {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-thickness: .075em;
  text-decoration-color: hsla(0 100% 52.9% / 0.7);
}

ins {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: .05em;
  text-underline-offset: 0.15em;
  text-decoration-color: limegreen;
}

s {
  text-decoration-thickness: .075em;
  text-decoration-color: hsla(0 100% 52.9% / 0.7);
}

ins[cite]:after,
del[cite]:after {
  content: " (" attr(cite) ")";
  font-size: 75%;
  line-height: 0;
  color: var(--text-alt);
}

::marker {
  color: var(--text-alt);
}

ol, ul {
  margin-inline-start: 1.5em;
}

ul>li::marker {
  font-size: large;
}

/* task list and its checkboxes */
ul>li:has(> input[type="checkbox"]) {
  list-style: none;
  margin-inline-start: -1rem;
}

ul>li:has(> input[type="checkbox"])::before {
  content: "\200B";
  /* accessibilty for Safari https://developer.mozilla.org/en-US/docs/Web/CSS/list-style */
}

/* Taken from the Hugo Relearn Theme */
/* https://themes.gohugo.io/themes/hugo-theme-relearn/ */
/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
ul>li>input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--INTERNAL-MAIN-BG-color);
  /* box background */
  border: 0.15rem solid currentColor;
  border-radius: 0.15rem;
  color: var(--INTERNAL-MAIN-TEXT-color);
  display: inline-grid;
  font: inherit;
  height: 1.15rem;
  margin: 0;
  place-content: center;
  transform: translateY(-0.075rem);
  width: 1.15rem;
}

ul>li>input[type="checkbox"]::before {
  box-shadow: inset 1rem 1rem var(--accent);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  content: "";
  height: 0.65rem;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  width: 0.65rem;
  /* Windows High Contrast Mode fallback must be last */
  background-color: CanvasText;
}

ul>li>input[type="checkbox"]:checked::before {
  transform: scale(1);
}

[popover] {
  margin: auto;
  padding: .5rem;
  border-radius: var(--border-radius);
  background: var(--accent-alt);

  transition: all 0.25s allow-discrete;
  opacity: 0;
  translate: 0 2em;
}

[popover]::backdrop {
  backdrop-filter: blur(3px);
}

[popover]:popover-open {
    top: 2rem;
    opacity: 1;
    translate: 0 0;
}

@starting-style {
  [popover] {
    &:popover-open {
      top: 2rem;
      opacity: 1;
      translate: 0 2em;
    }
  }
}

hr {
  width: 80%;
  color: var(--accent);
  margin: auto;
  overflow: auto;
}

/* Utility */
.flow>*+* {
}

.radius {
  border-radius: var(--border-radius, 0.5rem);
}

.style-box,
.object-effect {
  border: 1px solid var(--accent, currentColor);
  background-color: var(--background-alt);
  padding: min(8px, 1rem);
  border-radius: var(--border-radius, 0.5rem);
  box-shadow: var(--accent) 0.1rem 0.1rem 0.1rem;
}

figure {
  padding: min(8px, 1rem);
  border: none;
  filter: none;
}

figcaption {
  text-align: center;
  margin-top: .5rem;
  line-height: normal;
}

input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 1em;
}

.conversation-on-mb,
.reply-on-mastodon,
.reply-by-email,
a.footnote-ref,
button,
.microblog_time>a,
.lozenge {
  background-color: var(--accent-alt);
  color: var(--nordDark1);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: .5px solid light-dark(var(--nordDark1), var(--nordLight3));
  box-shadow: light-dark(var(--nordDark1), var(--nordLight3)) 0.1rem 0.1rem 0.2rem;
  padding: 0px 12px;
  border-radius: 1em;
  line-height: normal;
  cursor: pointer;
}

.conversation-on-mb:hover,
.reply-on-mastodon:hover,
.reply-by-email:hover,
a.footnote-ref:hover,
button:not([disabled]):hover,
.lozenge:hover,
.lozenge:focus-visible {
  color: var(--nordLight3);
  background-color: var(--accent-opposite);
  box-shadow: var(--accent-opposite-alt) 0.1rem 0.1rem 0.2rem;
  /* filter: drop-shadow(0.1rem 0.1rem 0.5rem); */
  transition: var(--standard-transition);
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

@container (min-width: 50ch) {
  .FloatRight {
    max-width: calc(40% - 2em);
    float: right;
    margin-left: 1em;
  }

  .FloatLeft {
    max-width: calc(40% - 2em);
    float: left;
    margin-right: 1em;
  }
}

#skip-to-main-content-link {
  position: absolute;
  top: -2em;
  left: 0;
  max-width: 100%;
  background-color: light-dark(var(--nordDark1), var(--nordDark3));
  color: light-dark(var(--nordLight3), var(--nordLight3));
  text-align: center;
  width: 100%;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

#skip-to-main-content-link:focus {
  top: 0;
  z-index: 99;
}

#plugin-container>a {
  display: inline-block;
}

table:not(.highlight) {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 80%;
  white-space: nowrap;
  overflow-x: auto;

  thead th,
  th {
    font-weight: bold;
    color: var(--text-alt);
    border-bottom: 1px solid var(--accent-alt);
  }

  tr:nth-child(even of :not([hidden]))>td {
    background: var(--background-mid);
  }
}

.highlight {
  max-width: 100%;
  border-radius: var(--border-radius, 10px);
  border: 1px solid currentColor;
  overflow: auto;

  .lntable {
    width: 100%;
    max-width: unset;
  }

  /* .chroma {
    overflow-x: scroll;
  } */

  .lnt,
  .hl {
    display: flex;
  }

  .line {
    margin-inline-start: 0.5rem;
  }

  .lntd .line {
    margin-inline-start: 0px;
  }
}

.optional {
  display: none;
}

.optional:has(a, p, img, button) {
  display: block;
  text-align: center;
  grid-area: informational;
}

pre.mermaid {
  text-align: center;
}

.text-center {
  text-align: center;
}

/* Block */

.pagination {
  margin-top: 1rem;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 2;

  .nav_prev {
    grid-column: 1;
    text-align: left;
  }

  .nav_next {
    grid-column: 2;
    text-align: right;
  }
}

.logo {
  display: inline;
  height: 1.5em;
  /* top: 3px; */
  /* float: inline-start; */
  vertical-align: middle;
  margin: auto
}


.TableOfContents {
  display: hidden;
  padding: 7px;
}

.TableOfContents:has(ul) {
  display: block;
}

.alert {
  padding: 0 .5rem;
  /* p:last-child {
      margin-bottom: 0;
  }

  p {
      margin-left: 20px;
  } */

  .alert-title {
    position: absolute;
    left: 16px;
    margin-top: 17px;
    font-size: 1.2em;

    .alert-icon {
      width: 1.2em;
      height: 1.2em;
    }
  }

  &.alert-warning {
    background: hsla(30, 80%, 70%, 0.15);
    border-left: 5px solid hsl(30, 80%, 70%);
  }

  &.alert-important {
    background: hsla(261, 61%, 64%, 0.15);
    border-left: 5px solid hsl(261, 61%, 64%);
  }

  &.alert-note {
    background: hsla(200, 65%, 65%, 0.15);
    border-left: 5px solid hsl(200, 65%, 65%);
  }

  &.alert-tip {
    background: hsla(140, 65%, 65%, 0.15);
    border-left: 5px solid hsl(140, 65%, 65%);
  }

  &.alert-caution {
    background: hsla(0, 65%, 65%, 0.15);
    border-left: 5px solid hsl(0, 65%, 65%);
  }
}

.ico, .icon {
  height: 1.15em;
  width: 1.15em;
  display: inline;
  position: relative;
  top: 3px;
}

.ico-sm .ico {
  height: .8em;
  width: .8em;
}

.ico-md .ico {
  height: 1.5em;
  width: 1.5em;
}

.ico-xl .ico {
  height: 2em;
  width: 2em;
}

.ico-xxl .ico {
  height: 3em;
  width: 3em;
}

details {
  border: 1px solid var(--accent);
  border-radius: var(--border-radius, 0.5rem);
  filter: var(--standard-filter);
  background-color: var(--background-mid);
  padding: min(10px, .5rem);

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 1s allow-discrete,
      opacity 1s,
      block-size 1s;
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
}

summary {
  margin-inline-start: 1rem;
}

.accent-color {
  color: var(--accent);
}

/* Form controls */
::placeholder {
  color: var(--text-alt);
}

input[readonly], input[disabled],
button[readonly], button[disabled] {
  cursor: not-allowed;
}

button[disabled] {
  color: dimgray;
}

.footnotes > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}