<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}" 
  prefix="og: https://ogp.me/ns#"
  itemscope itemtype="http://schema.org/WebPage" >
  {{ partial "site-head.html" . }}
<body class="body_class">
  <a class="accessibility_label" href="#main" id="skip-to-main-content-link">Skip to main content</a>
{{ partial "site-navigation.html" . }}
<main class="contentSection | flow | h-feed" id="main">
{{ block "main" .}}{{ end }}
<a hidden aria-hidden="true" href="/authors/mandaris" class="u-author">Link to Author Information</a>
</main>
{{ partial "author-info-aside.html" . }}
{{ partial "site-footer.html" . }}
</body>
</html>