<section class="h-card | vcard | u-author | object-effect | author"
  itemprop="author" itemscope itemtype="https://schema.org/Person"
  aria-label="Author Information"
  id="website-author">
  <div class="author-wrapper">
    <img class="u-photo | author-image" 
      loading="lazy" itemprop="image" src="{{ .Site.Params.Author.avatar }}"
      alt="Profile of {{ .Site.Params.Author.name }}">
    <div class="author-bio">
      <a itemprop="url" class="u-url" rel="me author" href="{{ .Site.BaseURL }}">
        <h2 itemprop="name" class="p-name">
          {{ .Site.Params.Author.name }}
        </h2>
      </a>
      <div class="bio | p-note" itemprop="description">
        {{ .Site.Params.Author.description | safeHTML }}
      </div>
    </div>
  </div>
</section>