<aside hidden
  itemprop="author" itemscope itemtype="https://schema.org/Person"
  class="h-card | u-author | author | p-author" 
  style="display: none;">
<div class="author-image">
  <img class="u-photo" loading="lazy" itemprop="image"
    src="{{ .Site.Params.Author.avatar }}"
    alt="Profile of {{ .Site.Params.Author.name }}">  
  <a itemprop="url" href="{{ .Site.BaseURL }}" title="Author's Home Page">
  <span itemprop="name" class="p-name | text-center">{{ .Site.Params.Author.name }}</span>
  </a>
</div>
  <div class="author-bio | bio | p-note" itemprop="description">
  {{ .Site.Params.Author.description | safeHTML }}
  </div>
</aside>