{{ "<!-- site-footer.html -->" | safeHTML }}
<footer class="object-effect | site-footer | text-center" 
  aria-label="Author and website information">
  
  {{- with  .Site.Params.description -}}
  <p class="text-center">{{ . | safeHTML }}</p>
  {{ end }}
  
  {{- if templates.Exists "partials/custom_footer.html" -}}
  {{ partial "custom_footer.html" . }}
  {{ end }}

  <p class="text-center">
  {{- with .Site.Copyright }}
  {{ . | safeHTML }}
  {{- else }}
  &copy; {{ now.Year }}
  {{- end -}}
  </p>
</footer>