{{ "<!-- site-navigation.html -->" | safeHTML }}
<header class="site-header | object-effect">
  
  <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }} Home Page">
    <h1><img src="/svg/UserIcons_Mandaris_02.svg" class="logo" alt="">
    {{- .Site.Title -}}</h1>
  </a>
  
  <nav id="Site" aria-label="Website" style="float: right;">
  <menu>
  {{- range .Site.Menus.main }} 
  <li>
    <a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
  </li>
  {{- end }}
  <li>
    <a href="{{ "feed.xml" | absURL }}" rel="feed"
      type="application/rss+xml" title="{{ $.Site.Title }} RSS Feed">
    RSS
    </a>
  </li>
</menu>
</nav>
</header>