<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}" 
  prefix="og: https://ogp.me/ns#"
  itemscope itemtype="http://schema.org/WebPage" >
  {{ partial "site-head.html" . }}
<body class="body_class">
{{ partial "site-navigation.html" . }}
{{ if .IsHome }}
{{ partial "search-partial.html" . }}
{{ end }}
<main class="contentSection | flow 
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " | h-feed" -}}
{{- end -}}
" id="main">
{{ block "main" .}}{{ end }}
<a hidden aria-hidden="true" href="/" class="u-author">Link to Author Information</a>
</main>
{{ partial "author-section.html" . }}
{{ partial "site-footer.html" . }}
</body>
</html>