{{ define "main" }}
<section class="h-feed | flow">
  <h2>Last 50 Replies</h2>
  {{- $list := first 50 (where .Data.Pages.ByDate.Reverse "Type" "reply") }}
		{{- range $list }}
		<article class="h-entry | henry | post | object-effect">
			{{- if .Title }}
			<h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
			{{- end }}
			<div class="p-summary | post-body | entry-content | e-content"
  itemprop="articleBody">
			{{ .Content }}
			</div>
			 <p class="right-column">
        <a href="{{ .Permalink }}" class="lozenge | u-uid">
        <time class="dt-published" itemprop="dateCreated datePublished" 
            {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr -}}>
            {{- .Date.Format (default "January 2, 2006" .Site.Params.date_format) }}
        </time>
        </a>
    </p>
		</article>
		{{ end }}
</section>
{{ end }}